body {
	background-color: #F6F6F6;
	margin: 0;
}
label {
	color: #F6F6F6;
}
#buttons {
	margin: 1% auto;
}
#header {
	border-bottom: 3px solid #DE1B1B;
	width: 100%;
}
#header h1 {
	color: #2B2B2B;
	font-family: cursive, serif;
	font-size: 35px;
	margin-top: 0px;
	padding-top: 1%;
	text-align: center;
}
#input_fields {
	margin: 0 auto;
}
#login {
	background-color: #2B2B2B;
	border: 3px solid #DE1B1B;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	width: 40%;
}
#login_button {
	background-color: #E9E581;
	color: #2B2B2B;
}
#main {
	padding: 5% 0 5% 0;
	width: 100%;
}
#password p {
	font-size: 18px;
	margin: 1% 0;
}
#password_input {
	border-radius: 10px;
}
#signup_button {
	background-color: #E9E581;
	color: #2B2B2B;
}
#username p {
	font-size: 18px;
	margin: 1% 0;
}
#username_input {
	border-radius: 10px;
}
.form-control {
	background-color: #F6F6F6;
}