body {
	background-color: #F6F6F6;
	margin: 0;
}
#buy_button {
    font-size: 35px;
    height: 18%;
    width: 10%;
}
#buy_info {
	/* display: none; */
	margin: 1% auto;
    text-align: center;
}
#buttons {
	margin: 1% auto;
	text-align: center;
}
#header h1 {
	color: #2B2B2B;
	font-family: cursive, serif;
	font-size: 35px;
	margin-top: 0px;
	padding-top: 1%;
	text-align: center;
}
#sell_button {
	font-size: 35px;
    height: 18%;
    width: 10%;
}
#sell_info {
	/* display: none; */
}